html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My code */

* {
  box-sizing: border-box;
}


#slider {
  position: relative;
  margin: 100px auto;
  text-align: center;
  max-width: 759px;
  height: 506px;
  overflow: hidden;

  &:hover .caret {
    display: block;
  }

  #image-container {
    position: relative;
    .image {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
      &.slide-out-forwards {
        animation: slideout-forwards 1s ease-in;
      }
  
      &.slide-in-forwards {
        animation: slidein-forwards 1s ease-in;
      }
      
      &.slide-out-backwards {
        animation: slideout-backwards 1s ease-in;
      }
  
      &.slide-in-backwards {
        animation: slidein-backwards 1s ease-in;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .caret {
    display: none;
    position: absolute;
    top: calc(50% - 30px);
    font-size: 30px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: rgb(10, 10, 10);
    cursor: pointer;

    &:hover {
      color: rgb(249, 249, 249);
    }

    &#next {
      right: 0;
      border-radius: 50px 0 0 50px;
      padding-right: 7px;
    }
    &#previous {
      left: 0;
      border-radius: 0 50px 50px 0;
      padding-left: 7px;
    } 
  }
}

#nav-dots {
  position: absolute;
  bottom: 5px;
  .nav-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;

    &:hover {
      background: rgb(249, 249, 249);
    }

    &.selected {
      background: rgb(10, 10, 10);
    }
  }
}

@keyframes slidein-forwards {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideout-forwards {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slidein-backwards {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideout-backwards {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}